<div id="contact-row" class="row-fluid">
	<div class="span7">
		<div id="contact-form">
			<form class="form-horizontal">
		         <div class="control-group">
		           <label class="control-label">Name:</label>
		           <div class="controls">
		             <input type="text" class="input--level input-large" placeholder="Your Name"> 
		           </div>
		         </div>
		         <div class="control-group">
		           <label class="control-label">Email:</label>
		           <div class="controls">
		             <input type="email" class="input--level input-large" placeholder="Your Email"> 
		           </div>
		         </div>
		         <div class="control-group">
		           <label class="control-label">Phone:</label>
		           <div class="controls">
		             <input type="tel" class="input--level input-large" placeholder="Your Phone"> 
		           </div>
		         </div>
		         <div class="control-group">
		           <label class="control-label">Website:</label>
		           <div class="controls">
		             <input type="url" class="input--level input-large" placeholder="Your Website"> 
		           </div>
		         </div>
		         <div class="control-group">
		           <label class="control-label">Address:</label>
		           <div class="controls">
		             <input type="text" placeholder="Your Street Address" class="input-large"> 
		           </div>
		         </div>
		         <div class="control-group">
		           <label class="control-label">City:</label>
		           <div class="controls">
		             <input type="text" placeholder="Your City" class="input-large"> 
		           </div>
		         </div>
		         <div class="control-group">
		           <label class="control-label">State:</label>
		           <div class="controls">
		             <input type="text" placeholder="Your State" class="input-large"> 
		           </div>
		         </div>
		       </form>
		</div>
	</div>
	<div class="span5">
		<img ng-src="{{contact.avatar}}"/>
	</div>	
</div>
